*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
将删除 androiddraw/.gitignore
将删除 androiddraw/build.gradle
将删除 androiddraw/libs/
将删除 androiddraw/proguard-rules.pro
将删除 androiddraw/src/androidTest/
将删除 androiddraw/src/main/AndroidManifest.xml
将删除 androiddraw/src/main/res/drawable/
将删除 androiddraw/src/main/res/mipmap-hdpi/
将删除 androiddraw/src/main/res/mipmap-mdpi/
将删除 androiddraw/src/main/res/mipmap-xhdpi/
将删除 androiddraw/src/main/res/mipmap-xxhdpi/
将删除 androiddraw/src/main/res/mipmap-xxxhdpi/
将删除 androiddraw/src/main/res/values-w820dp/
将删除 androiddraw/src/main/res/values/
将删除 androiddraw/src/test/
将删除 build.gradle~
将删除 gradle/wrapper/gradle-wrapper.properties~
将删除 ptr-lib/build/generated/assets/
将删除 ptr-lib/build/generated/res/
将删除 ptr-lib/build/generated/source/aidl/
将删除 ptr-lib/build/generated/source/rs/
将删除 ptr-lib/build/intermediates/blame/
将删除 ptr-lib/build/intermediates/bundles/debug/aidl/
将删除 ptr-lib/build/intermediates/bundles/debug/assets/
将删除 ptr-lib/build/intermediates/bundles/debug/res/drawable-xhdpi-v4/
将删除 ptr-lib/build/intermediates/bundles/release/aidl/
将删除 ptr-lib/build/intermediates/bundles/release/assets/
将删除 ptr-lib/build/intermediates/bundles/release/res/drawable-xhdpi-v4/
将删除 ptr-lib/build/intermediates/incremental/compileDebugAidl/
将删除 ptr-lib/build/intermediates/incremental/compileDebugAndroidTestAidl/
将删除 ptr-lib/build/intermediates/incremental/compileReleaseAidl/
将删除 ptr-lib/build/intermediates/incremental/mergeDebugAndroidTestResources/
将删除 ptr-lib/build/intermediates/incremental/mergeDebugAssets/
将删除 ptr-lib/build/intermediates/incremental/mergeDebugShaders/
将删除 ptr-lib/build/intermediates/incremental/mergeReleaseAssets/
将删除 ptr-lib/build/intermediates/incremental/mergeReleaseShaders/
将删除 ptr-lib/build/intermediates/incremental/packageDebugResources/
将删除 ptr-lib/build/intermediates/incremental/packageReleaseResources/
将删除 ptr-lib/build/intermediates/incremental/processDebugAndroidTestResources/
将删除 ptr-lib/build/intermediates/incremental/processDebugResources/
将删除 ptr-lib/build/intermediates/lint/
将删除 ptr-lib/build/intermediates/manifest/tmp/
将删除 ptr-lib/build/intermediates/manifests/
将删除 ptr-lib/build/intermediates/res/merged/androidTest/debug/drawable-xhdpi-v4/
将删除 ptr-lib/build/intermediates/rs/
将删除 ptr-lib/build/intermediates/shaders/
